html {
        font-family: "Poetsen One", sans-serif;
        font-weight: 400;
        font-style: normal;   
        color: white;
        text-shadow: 5px 2px 2px cornflowerblue;
}
header {
    margin: 12px 0px 20px 10px;
    border: 5px solid white;
    background-color: yellow;
    height: 100px;
    padding: 5rem 1rem;
    color: white;
    font-size: large;
    text-align: center;
    border-top-left-radius: 5rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 5rem;
}
body{
    margin: 0;
    background-image: url(/327958-svetik.jpg);
    background-size: cover;
}
.mapadiv {
    width: 35%;
    margin-left: 5%;
}
.mapadiv path {
    fill: cornflowerblue;
    stroke: white;
}
.mapadiv :hover{    
fill: yellow;
}
footer {
    font-size: 1.3rem;
    border: 5px solid white;
    background-color: yellow;
    padding: 3rem;
    color: white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 1rem;
}
footer section {
    float: right;
}
footer p {
    margin: 0;
}
header section{
    float: left;
}
header h1 {
    float: center;
    margin: 0;
}
.cardImage {
    height: 300px;
    width: 300px;
}
.escudo {
    margin-bottom: 100px;
    height: 150px;
    width: 150px;
}
.titulo1 {
    font-size: 4rem;
    float: center;
    margin: 0;
}

.container {
    width: 300px;
    margin:  auto;
    text-align: left;
}
section article {
    transition: box-shadow 0.3s ease;
    background-color: cornflowerblue;
    margin: 1rem 0;    
    border-radius: 1rem;
    padding: 0.25rem 0;
    cursor: pointer;
}
section article:hover {
    box-shadow: 0 0.8rem 1rem yellow;
 }
section article h3, section article p {
   margin: 1rem;
}
section iframe {
    margin-top: 50px;
    margin-left: 275px;
 }
 .home {
    color: white;
    text-decoration-line: none;
}
.mail {
    color: cornflowerblue;
    text-decoration-line: none;
}
.wtp {
    color: cornflowerblue;
    text-decoration-line: none;
}
.galeria {
    padding: 16px;
}
.lista img {
    width: 100%;
    object-fit: cover;
    margin-right: 10px;
}
.lista {
    display: flex;
    overflow-y: auto;
    margin-top: 10px;
}

